/* Add CSS styles here! */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

main, #root, body, html {
  width: 100%;
  height: 100%;
}

.content {
  transform: translate3d(50%, 0, 0);
  background: #202035;
  color: white;
  padding: 9px;
  border-radius: 8px;
  width: 150px;
}

.content > h4 {
  font: 500 13px 'Tajawal', sans-serif;
}

.content > p {
  font: 300 11px 'Tajawal', sans-serif;
}